<ul id="side-menu" class="nav in">
	<li>
		<a href="index.html">Home</a>
	</li>
	<li>
		<a href="tables.html">Link1</a>
	</li>
	<li>
		<a href="forms.html">Link2</a>
	</li>
	<li>
		<a href="forms.html">Link3</a>
	</li>
	<li class="">
		<a href="#">Twitter Swiss Army<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
			<li>
				<a href="panels-wells.html">Setup</a>
			</li>
			<li>
				<a href="buttons.html">TSAK Commands</a>
			</li>
			<li>
				<a href="notifications.html">Quick Start</a>
			</li>
			<li>
				<a href="typography.html">Example Tutorials</a>
			</li>
		</ul>
		<!-- /.nav-second-level -->
	</li>
</ul>